<div class="col-md-12">
  <div class="col-md-12">
    <a class="btn btn-primary btn-sm" [routerLink]="['/paciente']" routerLinkActive="active">
      <i class="fa fa-reply" aria-hidden="true"></i>
      Átras</a>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>{{titulo}}</h2>
      <br>
    </div>
  </div>
  <div class="row" *ngIf="paciente != null ">

    <div class="col-md-12">
      <div class="row">
        <div class="col-6 text-right">
          <label for="nombre">Nombre: </label>
        </div>
        <div class="col-6">
          {{paciente.nombre}}         
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-6 text-right">
          <label for="apellido">Apellido: </label>
        </div>
        <div class="col-6">
          {{paciente.apellido}} 
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-6 text-right">
          <label for="numSeguroSocial">Número de seguro social: </label>
        </div>
        <div class="col-6">
          {{paciente.numSeguroSocial}} 
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-6 text-right">
          <label for="codigoPostal">Código postal: </label>
        </div>
        <div class="col-6">
          {{paciente.codigoPostal}} 
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-6 text-right">
          <label for="telefono">Teléfono: </label>
        </div>
        <div class="col-6">
          {{paciente.telefono}} 
        </div>
      </div>      
      <br>
    </div>

    <div class="col-md-12" *ngFor="let a of paciente.atencion">
      <div *ngIf="a.eliminado != true">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6 text-right">
                <label for="telefono">Nombre doctor: </label>
              </div>
              <div class="col-6">
                {{a.doctor.apellido}} {{a.doctor.nombre}} 
              </div>
            </div>
            <div class="row">
              <div class="col-6 text-right">
                <label for="telefono">Especialidad: </label>
              </div>
              <div class="col-6">
                {{a.doctor.especialidad}}
              </div>
            </div>
            <div class="row">
              <div class="col-6 text-right">
                <label for="telefono">Número de credencial: </label>
              </div>
              <div class="col-6">
                {{a.doctor.numCredencial}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-6 text-right">
                <label for="telefono">Hospital: </label>
              </div>
              <div class="col-6">
                {{a.doctor.hospital.nombre}}
              </div>
            </div>
            <div class="row">
              <div class="col-6 text-right">
                <label for="telefono">Direccion del hospital: </label>
              </div>
              <div class="col-6">
                {{a.doctor.hospital.direccion}}
              </div>
            </div>
            <div class="row">
              <div class="col-6 text-right">
                <label for="telefono">Teléfono del hospital: </label>
              </div>
              <div class="col-6">
                {{a.doctor.hospital.telefono}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>